<?xml version="1.0" ?>
<robot name="sixrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/sixrobot</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

  <!-- Gazebo-Specific Link Properties -->
  <gazebo reference="world_joint">
  <selfCollide>true</selfCollide>
  <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="base_link">
    <selfCollide>true</selfCollide>
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="joint1">
    <implicitSpringDamper>1</implicitSpringDamper>
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="joint2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo reference="joint3">
    <implicitSpringDamper>1</implicitSpringDamper>
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="joint4">
    <implicitSpringDamper>1</implicitSpringDamper>
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="joint5">
    <implicitSpringDamper>1</implicitSpringDamper>
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo reference="joint6">
    <implicitSpringDamper>1</implicitSpringDamper>
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Transmissions for ROS Control -->
  <xacro:macro name="transmission_block" params="joint_name">
    <transmission name="tran1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
  
  <xacro:transmission_block joint_name="joint1"/>
  <xacro:transmission_block joint_name="joint2"/>
  <xacro:transmission_block joint_name="joint3"/>
  <xacro:transmission_block joint_name="joint4"/>
  <xacro:transmission_block joint_name="joint5"/>
  <xacro:transmission_block joint_name="joint6"/>

</robot>
