<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kinect_camera">

    <xacro:macro name="kinect_camera" params="prefix:=camera">

    <xacro:property name="PI" value="3.14159265" />
    
        <link name="${prefix}_link">
            <origin xyz="0 0 0"
        rpy="0 0 0"/>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 ${PI/2}"/>
                <geometry>
                    <mesh filename="package://sixrobot_description/meshes/kinect.dae" />
                </geometry>
            </visual>
        </link>

        <joint name="${prefix}_optical_joint" type="fixed">
            <origin xyz="0 0 0"
      rpy="0 0 0" />
            <parent link="${prefix}_link"/>
            <child link="${prefix}_frame_optical"/>
        </joint>

        <link name="${prefix}_frame_optical"/>
    </xacro:macro>

</robot>
